@tailwind base;
@tailwind components;
@tailwind utilities;


.box {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px
    
    
}

.imagee{
background-image: url(./images\ \(1\).jpg);
}

html{
    scroll-behavior: smooth;
}

